*{
    padding: 0px;
    margin: 0px;
}

.nav
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    padding: 5px;
    /* background-color: #0F766E; */
     /* color: white; */
     /* color: #FFFFFF; */
     border-bottom: 0.7px solid rgb(167, 166, 166);

}

.nav-left img{
    height: 70px;
    width:70px ;
}

.nav-right{
       display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;

}

.nav-right a{
    color:  black;
    text-decoration: none;
}

.nav-right a:hover{

    /* color:  black; */
    text-decoration: underline;
}